.assets {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-inline: 5px;

  &__header {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $headerColor;
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: $textColor;
    padding-right: 22px;
    display: inline-flex;
  }
  &__icon {
    display: flex;

    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f5f4fa;
  }
}
@media screen and (min-width: $tablet) {
  .assets {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-inline: 5px;
  }
  .assets__icon {
    padding: 20px;
    width: 354px;
  }
  .assets__header {
    width: 354px;
  }
  .assets__description {
    width: 354px;
  }
  .list--assets {
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .assets__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: $desktop) {
  .assets {
    max-width: $desktop;
    display: flex;
    flex-direction: row;
  }
  .list--assets {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
  }
  .assets--item {
    flex-basis: calc((100% - 30px) / 4);
  }
  .assets__icon {
    width: 270px;
  }
  .assets__description {
    width: 270px;
  }
  .assets__header {
    width: 270px;
  }
}
