.assets {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-inline: auto;

  &__header {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $headerColor;
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: $textColor;
    padding-right: 22px;
    display: inline-flex;
  }
  &__icon {
    width: 450px;
    display: flex;

    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f5f4fa;
  }
}

&__header {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: $headerColor;
}

&__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: $textColor;
  padding-right: 22px;
  display: inline-flex;
}
&__icon {
  width: 270px;
  display: flex;

  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f5f4fa;
}

@media screen and (min-width: $phone) {
  .assets {
    max-width: $phone;
  }
}
@media screen and (min-width: $tablet) {
  .assets {
    max-width: $tablet;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc((100% - 60px) / 3);
  }
  .assets__icon {
    padding: 20px;
    display: flex;
    flex-direction: row;

    gap: 30px;
    flex-basis: calc((100% - 60px) / 3);
    max-width: $tablet;
  }
}
@media screen and (min-width: $desktop) {
  .assets {
    max-width: $desktop;
    display: flex;
    flex-direction: row;
  }
}
