.clients {
  padding-block: 94px;
  margin: 0 auto;
  flex-basis: 100%;

  &__header {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  &__icon {
    width: 170px;

    border: 1px solid #afb1b8;
    margin-right: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon:hover {
    border: 1px solid $logoColor;
  }
  &__link {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover .svg {
  
     filter: invert(42%) sepia(92%) saturate(1530%) hue-rotate(185deg)
      brightness(101%) contrast(91%);
  }
}
