.footer {
  background-color: $backgroundColor;
  height: auto;
  max-width: $phone;

  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;

  &__position {
    display: flex;
    flex-direction: column;
    margin: 50px;
  }

  &__logo {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: center;

    color: $logoColor;
    text-decoration: none;
    display: flex;

    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &__contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  &__contacts--data {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #ffffff99;
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $logoColor;
    }
  }
  &__social-media {
    margin-left: 5px;
  }

  .social-media__title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $whiteContent;
  }
}

@media screen and (min-width: $tablet) {
  .footer {
    min-width: $tablet;
    position: relative;
  }
  .footer__position {
    width: 50vw;
    margin: 10px;
  }
  .footer__social-media {
    width: 50vw;
    position: absolute;
    right: 0;
    top: 35px;
  }
}
@media screen and (min-width: $desktop) {
  .footer {
    min-width: $desktop;
    margin-inline: auto;
  }
}
