.header {
  background: linear-gradient(
      59deg,
      rgba(0, 0, 0, 0.422),
      rgba(35, 32, 32, 0.559)
    ),
    url(../images/background.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  color: $whiteContent;
  height: 330px;
  max-width: $phone;

  position: relative;

  &__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-align: center;
    font-family: Roboto;
    position: absolute;
    top: 30%;
  }
  &__button {
    max-width: $phone;
    margin-inline: auto;
    position: absolute;
    top: 70%;
    right: 25%;
  }
}
@media screen and (min-width: $tablet) {
  .header {
    max-width: $tablet;
    margin-inline: auto;
  }
  .header__title {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-align: center;

    max-width: $tablet;

    margin-inline: 200px;
  }
  .header__button {
    margin-inline: 200px;
    position: absolute;
    top: 70%;
    left: 10%;
  }
}
@media screen and (min-width: $desktop) {
  .header {
    max-width: $desktop;
  }
  .header__title {
    position: absolute;
    margin-inline: 400px;
    text-align: center;
  }
  .header__button {
    margin-inline: 200px;
    position: absolute;
    top: 70%;
    left: 25%;
  }
}
