.header {
  background: linear-gradient(
      59deg,
      rgba(0, 0, 0, 0.422),
      rgba(35, 32, 32, 0.559)
    ),
    url(../images/background.jpg);
  object-fit: cover;
background-size: cover;
background-position: center center;
  color: $whiteContent;
  
  height: 330px;
  width: 100vw;
position: relative;


  &__title {
   font-size: 26px;
font-weight: 900;
line-height: 42px;
letter-spacing: 0.06em;
text-align: center;
    
    font-family: Roboto;
    position: absolute;
margin: auto;
top: 30%;
  }
}

