.menu {
  margin-left: 93px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style: none;
  display: inline-flex;

  &__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: $phone) {
  .menu {
    visibility: hidden;
  }
}
@media screen and (min-width: $tablet)  {
  .menu {
    width: 768px;
    visibility: visible;
  }
}
@media screen and (min-width: $desktop) {
  .menu {
    margin-left: 93px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style: none;
  display: inline-flex;
  }
}
