.menu {
  margin-left: 93px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style: none;
  display: inline-flex;

  &__icon {
    margin-right: 8px;
  }
}

@media screen and (max-width: $tablet) {
  .menu {
    display: none;
    visibility: hidden;
  }
}
@media screen and (min-width: $tablet) {
  .menu {
    
    visibility: visible;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .menu__icon--first {
    position: absolute;
    left: -10px;
  }
  .menu__icon--second {
    position: absolute;
   left: -10px;
  }
}
@media screen and (min-width: $desktop) {
  .menu {
    visibility: visible;
    display: flex;
    flex-direction: row;
  }
}
