.nav {
  background-color: $whiteContent;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;

 
  &__button {
    background-color: $whiteContent;
    border: none;
    position: absolute;
    right: 0;
  }
  &__:hover {
   filter: invert(42%) sepia(92%) saturate(1530%) hue-rotate(185deg)
      brightness(101%) contrast(91%);
 
  }
}
