.section {
  padding-block: 94px;
  margin: 0 auto;
  flex-basis: 100%;

  @media screen and (min-width: $desktop) {
    .section {
      max-width: 1200px;
    }
    .section__first {
      background-color: $whiteContent;
      margin-inline: 20px;
    }
  }
}
