.team {
  background-color: $sectionColor;
  height: 648px;
  width: 1200px;
  left: 0px;
  top: 1449px;
  border-radius: 0px;

  &__header {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  &__members {
    width: 1200px;
    display: flex;
  }
}
