.team {
  background-color: $sectionColor;

  width: 100vw;
  // display: flex;
  // flex-wrap: wrap;

  &__header {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    
  }
  &__members {
    display: flex;
  }

  @media screen and (min-width: $tablet) {
    .team {
      max-width: $tablet;
      display: flex;
    }
  }
  @media screen and (min-width: $desktop) {
    .team {
      margin-left: 93px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      list-style: none;
      display: inline-flex;
    }
  }
}
