.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  &__social {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  &--team {
    list-style: none;
    padding: 0;
  }
}

@media screen and (min-width: $tablet) {
  .list {
    max-width: $tablet;
  }
  .list--team {
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: row;
    list-style: none;
    padding: 0;
  }
}
@media screen and (min-width: $desktop) {
  .list {
    max-width: $desktop;
    display: flex;
    flex-direction: row;
  }
  .list__social {
    padding-inline-start: 0;
  }
}
